<!DOCTYPE html>

<html>

<head>
    <title>NetMeds Employee Database</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="bg-white">
    <img style="margin-top: 50px;margin-left:150px" src='https://etimg.etb2bimg.com/photo/55611463.cms' height="100" width="150" alt="netmeds.com">
    <div class="row">
        <div class="col-md-8 offset-md-2" style="background-color: rgb(240, 240, 240);margin-top: 80px;padding:20px;">
            {{{body}}}
        </div>
    </div>

</body>

</html>